<h1>Listing tareas</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @tareas.each do |tarea| %>
  <tr>
    <td><%=h tarea.nombre %></td>
    <td><%= link_to 'Show', tarea %></td>
    <td><%= link_to 'Edit', edit_tarea_path(tarea) %></td>
    <td><%= link_to 'Destroy', tarea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tarea', new_tarea_path %>