
<span style="color:red"><%= flash[:error] %> </span>



<h1>Listas de tareas de <span style="color:green">[<%= current_user.login %>]</span></h1>



<table>

  <tr>
  <th> Nombre: </th>
  <th> &nbsp </th>
  <th> &nbsp</th>
  <th> #Tareas: </th>
  </tr>
<% @lista_de_tareas.each do |lista_de_tarea| %>

  <tr class="<%= cycle('rowA', 'rowB') %>">
    <td><%= link_to h(lista_de_tarea.nombre),lista_de_tarea %></td>
    <td><%= link_to 'Editar', edit_lista_de_tarea_path(lista_de_tarea) %></td> 
    <td><%= link_to 'Borrar', lista_de_tarea, :confirm => 'Are you sure?', :method => :delete %></td>
	<td style="text-align:center"><%= lista_de_tarea.tareas.length %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Lista de Tareas', new_lista_de_tarea_path %> |
<%= link_to 'Home', root_url %>