<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
</head>
<body>
	<div id="container">
		<div id="user_nav">
			<% if current_user %>
				<%= link_to "Editar Perfil", edit_user_path(:current_user) %> |
				<%= link_to "Logout", logout_path %> |
				<%= link_to "Mi Lista de Tareas", lista_de_tareas_path %>
			<% else %>
				<%= link_to "Registrar", new_user_path %> |
				<%= link_to "Login", login_path %>
			<% end %>
		</div>
		
		
		<%= yield %>
		
	</div>

</body>
</html>
